body {
    
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 80%;
  color: #1b262c;
  margin: 0;   
  background-color: #f5f5f5;
}
header{
  width: 100%;
  overflow: hidden;
  background: #00674e;
  margin-bottom: 80px;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
header .titulo{
  color: #fff;
  font-size: 50px;
  line-height: 200px;
  float: left;

}
header nav{
  float: right;
  line-height: 200px;

}
header nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition:all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
header nav a:hover{
  background: #00ac99;
  border-radius: 50px;

}
.header2{
  position: fixed;
  height: 80px;

}
.header2 .titulo{
  line-height: 100px;
  font-size: 30px;

}
.header2 nav{
  line-height: 100px;
}

#contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 90%;
  height: 180%; 
}

#central {

  max-width: 320px;
  width: 100%;
  align-content: center;
  margin-top: 10px;
}

.titulo {
  font-size: 250%;
  color:#1b262c;
  text-align: center;
  margin-bottom: 20px;
  align-content: center;
 } 
  #centralgestion {

    max-width: 320px;
    width: 100%;
    align-content: center;
    margin-top: 10px;}

.titulogestion {
    font-size: 250%;
    color:#1b262c;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    align-content: center;
    margin-left: 500px;}

#contenedorinfo {
  height: 70%;
  width: 40%;
  display: flex;
margin-left: 70px;
  padding: 20px 60px;
  background-color: #f5f5f5;
  
   box-sizing: border-box; 
}
.button{
display: flex;
justify-content: center;
}
.informacion{

  margin-bottom: 7px;
  background: #009675;
  height: 30px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  float: right;
  
  
}
.informacion2{
 margin-bottom: 12px;
  margin-top: 8px;
  background: #009675;
  height: 30px;
  width: 280px;
  border-radius: 3px 3px 3px 3px;
  float: left;
  
 

}
.informacion3{
 
  margin-top: 12px;
  margin-bottom: 8px;
  background: #009675;
  height: 30px;
  width: 250px;
  border-radius: 3px 3px 3px 3px;
  float: left;
  
 

}

#contenedorinfo input {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color: #1b262c;
  display: block;
  width: 60px;
  height: 30px;
  float: right;
   margin-bottom: 10px;
  margin-top: 1%;
  padding: 5px 5px 5px 10px;
   box-sizing: border-box;  
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}
.titulodiv{

margin-top: 8%;
float: none;
}
.titulodiv2{
margin-top: 5%;
float: none;
}
.titulodiv3{
margin-top: 20% ;
float: none;
}

#login input::placeholder {
  font-family: 'Overpass', sans-serif;
  color: #E4E4E4;
}
#login button {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color:#1b262c;
  width: 60%;
  height: 30px;
  border: none;
  margin: 0 60px;
   border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #bbe1fa;
   margin-top: 10px;
}
#login button:hover {
  background-color: #00ac99;
  color:#bbe1fa;
  margin-right: 60px ;
}

.pie-form {
  font-size: 90%;
  text-align: center;    
  margin-top: 15px;
}

.pie-form a {
  display: block;
  text-decoration: none;
  color: #bbe1fa;
  margin-bottom: 3px;
}

.pie-form a:hover {
  color: #00ac99;
}

.inferior {
  margin-top: 10px;
  font-size: 90%;
  text-align: center;
}
.inferior a {
  display: block;
  text-decoration: none;
  color: #bbe1fa;
  margin-bottom: 3px;
}

.inferior a:hover {
  color: #00ac99;
}
.finalfooter{
  background-color: #009675;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: Poppins;
  font-size: 1.3rem ;
}
footer{
background-color: #009675;
width: 1500px;
}
#contenedorCampana1 {
display: flex;
align-items: center;
justify-content: center;



min-width: 100vw;
min-height: 40vh;
width: 80%;
height: 10%;


}
#creacionCampana {
width: 150%;
height: 50%;
justify-content: center;
margin-right: 60px;
padding: 20px 50px;
background-color: #00674e;
box-sizing: border-box;
}
#creacionCampana input::placeholder {
font-family: 'Overpass', sans-serif;
color: #E4E4E4;
}

.recuadro{
  background: #fff;
  height: 130px;
  width: 700px;
  border-radius: 3px 3px 3px 3px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.recuadro2{
  background: #fff;
  height: 130px;
  width: 700px;
  border-radius: 3px 3px 3px 3px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;  
}
.recuadro3{
  background: #fff;
  height: 130px;
  width: 700px;
  border-radius: 3px 3px 3px 3px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}
#recuadros{
  margin-top: 10px;
}
#contenedorrecuadros{
align-items: center;
justify-content: center;
margin: 10;
padding: 10px;
min-width: 100vw;
min-height: 30vh;
width: 40%;
height: 10%;
}
#creacionrecuadros{
  width: 300%;
height: 300%;
margin-right: 30px;
margin-left: 30%;
margin-top: 1%;
display: flex;
justify-content: center;
padding: 20px 50px;
background-color: #f5f5f5; 
box-sizing: border-box;
}





  
 