body {

    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 80%;
    color: #1b262c;
    
    margin: 0;
   
    
    background-color: #f5f5f5;
}
header{
    width: 100%;
    overflow: hidden;
    background: #00674e;
    margin-bottom: 80px;
    

}
.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  header .titulo{
    color: #fff;
    font-size: 50px;
    line-height: 200px;
    float: left;

  }
  header nav{
    float: right;
    line-height: 200px;

  }
  header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;



  }
  header nav a:hover{
    background: #00ac99;
    border-radius: 50px;

  }
  .header2{
    position: fixed;
    height: 80px;

  }
  .header2 .titulo{
    line-height: 100px;
    font-size: 30px;

  }
  .header2 nav{
    line-height: 100px;
  }
.wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -580px;
    margin-top: -500px;
    border-radius: 40%;
    background: rgba(5, 97, 66, 0.75);
    animation: wave 15s infinite linear;
  }
  #contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 90%;
    height: 180%;

   
}

#central {
    
    width: 200%;
    background-color: #f5f5f5;
    text-align: center;
    margin-right: 10px;
}

.titulo {
    font-size: 250%;
    color:#1b262c;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
  
    

    padding: 20px 50px;
    background-color: #f5f5f5;
    text-align: center;
    
   
    
    box-sizing: border-box;
    
}
#login nav a {
    display: inline-block;
    color: #fff;
    background-color: #00ac99;
    text-decoration: none;
    padding: 20px 40px;
    line-height: normal;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    margin: 30px;
    height: 10px;
    width: 185px;
    margin: 15px;
    
   
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;

}
#login nav a:hover{
    background: #00ac99;
    border-radius: 50px;

  }
.button{
  display: flex;
  justify-content: center;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 60%;
    height: 30px;
    float: right;
    
    margin-bottom: 30px;
    margin-top: 1%;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.divi{

  margin-top: 8%;
  float: none;


 
 
}
.divi2{
  margin-top: 5%;
float: none;
}
.divi3{
  margin-top: 20% ;
  float: none;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 60%;
    height: 30px;
    border: none;
    margin: 0 60px;
    
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}


#login button:hover {
    background-color: #00ac99;
    color:#bbe1fa;
    margin-right: 60px ;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #00ac99;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #00ac99;
}
.footer{
    width: 115%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #009675;

}
.finalfooter{
    background-color: #009675;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Poppins;
    font-size: 1.3rem ;
}
